@font-face {
  font-family: "Alegreya";
  src: url("/fonts/alegreya.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Indie Flower";
  src: url("/fonts/indie-flower.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  background-color: #EBAB26;
}

@media only screen
and (min-width: 810px) {
  body {
    background-image: url('/background.svg');
    background-position-x: right;
    background-size: 100% auto;
    background-repeat: repeat-y;
  }
}