@font-face {
  font-family: "Alegreya";
  src: url("/fonts/alegreya.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Indie Flower";
  src: url("/fonts/indie-flower.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  padding: 0;
  background-color: #C9A2EB;
}

@media (max-width: 809px) {
  body{
    background-color: #EBAB26;
  }
}