.decorativeDescription {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  width: 50vw;
  background-color: #C9A2EB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 0;
  margin:0;
  padding-left: 50vw;
}

@media (max-width: 809px) {
  .decorativeDescription {
    display: none;
  }

  .content {
    padding-left: 0;
  }
}

.sideSmileyFace {
  width: 250px;
  height: 250px;
}

.cardSection {
  height: 80vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #EBAB26;
}

@media (max-width: 809px) {
  .cardSection {
    height: 35vh;
  }
}

.nameTitle {
  font-size: 2rem;
  line-height: 1rem;
  font-family: 'Indie Flower', cursive;
}

.jobDescription {
  margin: 0;
  text-align: center;
  font-family: 'Alegreya', serif;;
  text-transform: uppercase;
}

.presentationSection {
  padding: 24px;
  background-color: #CFC3B6;
  font-family: 'Alegreya', serif;
  font-size: 1.2em;
}

.presentationDescription {
  text-align: justify;
  text-justify: inter-word;
}

.footer {
  display: block;
  background-color: #EBAB26;
}

.footerContent {
  text-align: center;
  font-family: 'Alegreya', serif;text-transform: uppercase;
}

.mac {
  position: absolute;
  display: block;
  top: 50vh;
  width: 250px;
  transition: all 0.2s ease-in-out;
}

.macShow {
  /*padding-right: 0;*/
}

.macHide {
  margin-left: -100vw;
  padding-top: 50vh;
}

.footerContent {
  margin: 0;
  padding: 24px;
}
