
.container {
  font-family: "Alegreya", sans-serif;
}


.content {
  display: flex;

  height: calc(100vh);
  width: 100%;
  margin:0;
  padding: 0;
}
.sx {
  flex-grow: 1;
  background-color: #C9A2EB;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dx {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  overflow-y: scroll;
}

@media (max-width: 600px) {
  .sx {
    display: none;
  }
}

@media only screen
and (max-device-width: 600px) {
  .sx {
    display: none;
  }
}


.sideSmileyFace {
  width: 250px;
  height: 250px;
}
